asgiref==3.5.2
dj-database-url==1.0.0
Django==4.1.1
django-heroku==0.3.1
docopt==0.6.2
environ==1.0
fake-useragent==0.1.11
gunicorn==20.1.0
parse==1.19.0
psycopg2==2.9.3
pyee==8.2.2
sortedcontainers==2.4.0
sqlparse==0.4.2
whitenoise==6.2.0
